SECRET_KEY=digiserve-spo-backup-2026-change-me
TZ=Asia/Jakarta
SPO_WEB_PORT=5050
SPO_UID=1000
SPO_GID=1000
SPO_DATA_DIR=../data
SPO_CONFIG_FILE=../config/config.json
SPO_LOG_DIR=../logs
SPO_REDIS_DIR=../redis
