SECRET_KEY=digiserve-spo-backup-2026-change-me
TZ=Asia/Jakarta
SPO_WEB_PORT=5050
SPO_UID=1000
SPO_GID=1000
SPO_DATA_DIR=../data
SPO_CONFIG_FILE=../config/config.json
SPO_LOG_DIR=../logs
SPO_REDIS_DIR=../redis
GRAPH_DOWNLOAD_CHUNK_SIZE=4194304
GRAPH_LIST_PAGE_SIZE=999
BACKUP_MANIFEST_FLUSH_EVERY=25
BACKUP_MANIFEST_FLUSH_INTERVAL=5
HTTP_POOL_CONNECTIONS=64
HTTP_POOL_MAXSIZE=64
